@font-face {
  font-family: "iconfont"; /* Project id 4378338 */
  src: url('iconfont.woff2?t=1703344756265') format('woff2'),
       url('iconfont.woff?t=1703344756265') format('woff'),
       url('iconfont.ttf?t=1703344756265') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emm:before {
  content: "\e6f5";
}

.icon-han:before {
  content: "\e627";
}

.icon-fensi:before {
  content: "\e612";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-chuangzuo:before {
  content: "\e8ad";
}

.icon-xiaoxizhongxin:before {
  content: "\e8bf";
}

.icon-jiuyang:before {
  content: "\e6af";
}

.icon-sum:before {
  content: "\e8c0";
}

.icon-moon:before {
  content: "\e8c1";
}

.icon-database-on:before {
  content: "\e604";
}

.icon-database-off-copy:before {
  content: "\e8bd";
}

.icon-home:before {
  content: "\e83a";
}

.icon-touxiang:before {
  content: "\e60f";
}

.icon-shujuzidian:before {
  content: "\e667";
}

.icon-lishi:before {
  content: "\e608";
}

.icon-dict-copy:before {
  content: "\e8be";
}

.icon-fenxi:before {
  content: "\e8bb";
}

.icon-exit:before {
  content: "\e8bc";
}

.icon-biaoxing:before {
  content: "\e733";
}

.icon-quanxianguanli:before {
  content: "\e610";
}

.icon-caidan1:before {
  content: "\e63c";
}

.icon-jiaoseguanli:before {
  content: "\e62e";
}

.icon-jiaosequanxian:before {
  content: "\e666";
}

.icon-user:before {
  content: "\e678";
}

.icon-copy:before {
  content: "\e684";
}

.icon-menu:before {
  content: "\e8c2";
}

.icon-qq:before {
  content: "\e601";
}

.icon-tj:before {
  content: "\e603";
}

.icon-drop:before {
  content: "\e728";
}

.icon-wx:before {
  content: "\e642";
}

.icon-edit:before {
  content: "\e79f";
}

.icon-form:before {
  content: "\e7a0";
}

.icon-dingyue:before {
  content: "\e7a1";
}

.icon-diannao-xian:before {
  content: "\e7a2";
}

.icon-chakan-yincang-xian:before {
  content: "\e7a3";
}

.icon-fenxiang-xian:before {
  content: "\e7a4";
}

.icon-gengduo:before {
  content: "\e7a6";
}

.icon-fuzhilianjie:before {
  content: "\e7a9";
}

.icon-guanbi:before {
  content: "\e7aa";
}

.icon-fuzhi-xian:before {
  content: "\e7ab";
}

.icon-huifulishibanben:before {
  content: "\e7ac";
}

.icon-gengduo-xian:before {
  content: "\e7ad";
}

.icon-down:before {
  content: "\e7af";
}

.icon-right:before {
  content: "\e7b0";
}

.icon-top:before {
  content: "\e7b1";
}

.icon-left:before {
  content: "\e7b2";
}

.icon-quanping-zhankai-xian:before {
  content: "\e7b5";
}

.icon-quanping-shouqi-xian:before {
  content: "\e7b6";
}

.icon-quanxuan:before {
  content: "\e7b7";
}

.icon-shangchuanwenjian-xian:before {
  content: "\e7b8";
}

.icon-shoucang-xian:before {
  content: "\e7bb";
}

.icon-sousuo-xian:before {
  content: "\e7bc";
}

.icon-suo-guansuo-xian:before {
  content: "\e7be";
}

.icon-suo-kaisuo-xian:before {
  content: "\e7c0";
}

.icon-tianjia-xian:before {
  content: "\e7c2";
}

.icon-shuaxin-xian:before {
  content: "\e7c3";
}

.icon-tianjia-liebiao:before {
  content: "\e7c4";
}

.icon-download:before {
  content: "\e7c5";
}

.icon-riqi-xian:before {
  content: "\e7c6";
}

.icon-yiwen-xian:before {
  content: "\e7c7";
}

.icon-delete:before {
  content: "\e7c9";
}

.icon-xingnengzhenduan:before {
  content: "\e7ca";
}

.icon-setting:before {
  content: "\e7cb";
}

.icon-refresh:before {
  content: "\e7cc";
}

